[submodule "shell-commons"]
    path = shell-commons
    url = https://github.com/usommerl/shell-commons.git
    branch = master
[submodule "zsh-git-prompt"]
    path = zsh-git-prompt
    url = https://github.com/olivierverdier/zsh-git-prompt.git
    ignore = untracked
